 #  A Whale off the Port(folio)
 ---

 In this assignment, you'll get to use what you've learned this week to evaluate the performance among various algorithmic, hedge, and mutual fund portfolios and compare them against the S&P TSX 60 Index.

In [1]:
# Initial imports
import pandas as pd # daataframe manipulation
import numpy as np # calc and numeric manipulatino
import datetime as dt # date and tim 
from pathlib import Path # setting the path for file manipulation
import datetime 

# for later use: %matplotlib inline # set up to run matplotlib within jupyter notebook

# Data Cleaning

In this section, you will need to read the CSV files into DataFrames and perform any necessary data cleaning steps. After cleaning, combine all DataFrames into a single DataFrame.

Files:

* `whale_returns.csv`: Contains returns of some famous "whale" investors' portfolios.

* `algo_returns.csv`: Contains returns from the in-house trading algorithms from Harold's company.

* `sp_tsx_history.csv`: Contains historical closing prices of the S&P TSX 60 Index.

## A. Whale Returns

Read the Whale Portfolio daily returns and clean the data.

### 1. import whale csv and set index to date

In [2]:
df_wr = pd.read_csv('Resources/whale_returns.csv', index_col="Date")

In [3]:
# look at colums and value head
df_wr.head(3)

,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
Date,,,,
2015-03-02,NaN,NaN,NaN,NaN
2015-03-03,-0.001266,-0.004981,-0.000496,-0.006569
2015-03-04,0.002230,0.003241,-0.002534,0.004213

In [4]:
# check dimensions of df
df_wr.shape

(1060, 4)

In [5]:
# Count nulls
df_wr.isna().sum()

SOROS FUND MANAGEMENT LLC      1
PAULSON & CO.INC.              1
TIGER GLOBAL MANAGEMENT LLC    1
BERKSHIRE HATHAWAY INC         1
dtype: int64

In [6]:
# Drop nulls
df_wr.dropna(inplace=True)

In [7]:
# Count nulls -again (only for convencience and clarity - duplicate)
df_wr.isna().sum()

SOROS FUND MANAGEMENT LLC      0
PAULSON & CO.INC.              0
TIGER GLOBAL MANAGEMENT LLC    0
BERKSHIRE HATHAWAY INC         0
dtype: int64

In [8]:
df_wr.count()

SOROS FUND MANAGEMENT LLC      1059
PAULSON & CO.INC.              1059
TIGER GLOBAL MANAGEMENT LLC    1059
BERKSHIRE HATHAWAY INC         1059
dtype: int64

In [9]:
# change columns to be consistent and informative
df_wr.columns

Index(['SOROS FUND MANAGEMENT LLC', 'PAULSON & CO.INC. ',
       'TIGER GLOBAL MANAGEMENT LLC', 'BERKSHIRE HATHAWAY INC'],
      dtype='object')

In [10]:
df_wr.columns = ['Whale_Soros_Fund_Daily_Returns', 'Whale_Paulson_Daily_Returns',
       'Whale_Tiger_Daily_Returns', 'Whale_Berekshire_Daily_Returns']

## B. Algorithmic Daily Returns

Read the algorithmic daily returns and clean the data.

### 1. import algo csv and set index to date

In [11]:
# Reading algorithmic returns
df_ar = pd.read_csv('Resources/algo_returns.csv', index_col='Date')

In [12]:
# look at colums and value first 3 rows
df_ar.head(3)

              Algo 1  Algo 2
Date
2014-05-28  0.001745     NaN
2014-05-29  0.003978     NaN
2014-05-30  0.004464     NaN

In [13]:
# get dimensions of df
df_ar.shape

(1241, 2)

In [14]:
# Count nulls
df_ar.isna().sum()

Algo 1    0
Algo 2    6
dtype: int64

In [15]:
# Drop nulls
df_ar.dropna(inplace=True)

In [16]:
# Count nulls -again (only for convencience and clarity - duplicate)
df_ar.isna().sum()

Algo 1    0
Algo 2    0
dtype: int64

In [17]:
# Rename columns specific to the df

In [18]:
df_ar.columns

Index(['Algo 1', 'Algo 2'], dtype='object')

In [19]:
df_ar.columns = ['Algo1_Daily_Returns', 'Algo2_Daily_Returns']

## C. S&P TSX 60 Returns

Read the S&P TSX 60 historic closing prices and create a new daily returns DataFrame from the data.

In [20]:
# Reading S&P TSX 60 Closing Prices
df_sr = pd.read_csv('Resources/sp_tsx_history.csv')

In [21]:
# look at colums and value head
df_sr.head(3)

         Date       Close
0  1-Oct-2012  $12,370.19
1  2-Oct-2012  $12,391.23
2  3-Oct-2012  $12,359.47

In [22]:
# check dimension of df
df_sr.shape

(1818, 2)

In [23]:
# Check Data Types
df_sr.dtypes

Date     object
Close    object
dtype: object

In [24]:
# Count nulls
df_ar.isna().sum()

Algo1_Daily_Returns    0
Algo2_Daily_Returns    0
dtype: int64

In [25]:
# change the date to be in line with other dates ie yyyy-mon-dd

In [26]:
#df_sr['Date']= pd.to_datetime(df_sr['Date']).dt.strftime('%Y-%m-%d')
M

# look at colums and value head to se if date format has changed
df_sr.head(3)

# set date as index
df_sr.set_index('Date', inplace=True)

# Change the Closing column to b float type
df_sr['Close']= df_sr['Close'].str.replace('$','')
df_sr['Close']= df_sr['Close'].str.replace(',','')
df_sr['Close']= df_sr['Close'].astype(float)

# check result
df_sr.head(3)

# test 
df_sr.iloc[0]

df_sr.head()

In [33]:
df_sr.tail()

               Close
Date
2019-12-20  17118.44
2019-12-23  17128.71
2019-12-24  17180.15
2019-12-27  17168.21
2019-12-30  17098.56

In [34]:
# check null values
df_sr.isna().sum()

Close    0
dtype: int64

In [35]:
df_sr.count()

Close    1818
dtype: int64

In [36]:
# Calculate Daily Returns

# sort values by date, ascending
#df_sr.sort_values('Date', inplace=True)
df_sr_sorted = df_sr.sort_index()

In [37]:
# create a change column
df_sr['Daily_Change'] = None

In [38]:
#df_sr['Daily_Change'] / df_sr['Daily_Change'].shift(1) - 1

Date
2012-10-01    NaN
2012-10-02    NaN
2012-10-03    NaN
2012-10-04    NaN
2012-10-05    NaN
             ...
2019-12-20    NaN
2019-12-23    NaN
2019-12-24    NaN
2019-12-27    NaN
2019-12-30    NaN
Name: Daily_Change, Length: 1818, dtype: object

In [39]:
df_sr.head(3)

               Close Daily_Change
Date
2012-10-01  12370.19         None
2012-10-02  12391.23         None
2012-10-03  12359.47         None

In [40]:
# 
df_sr.isna().sum()

Close              0
Daily_Change    1818
dtype: int64

In [41]:
# Drop nulls
df_sr.dropna(inplace=True)

In [42]:
# Rename `Close` Column to be specific to this portfolio.
df_sr.columns

Index(['Close', 'Daily_Change'], dtype='object')

In [43]:
df_sr.columns = ['S&P_TSX_60_Close','S&P_TSX_60_Returns']

## Combine Whale, Algorithmic, and S&P TSX 60 Returns

In [44]:
# Use the `concat` function to combine the two DataFrames by matching indexes (or in this case `Month`)
merged_analysis_df_tmp = pd.concat([df_wr, df_ar ], axis="columns", join="inner")

In [45]:
merged_analysis_df_tmp

,Whale_Soros_Fund_Daily_Returns,Whale_Paulson_Daily_Returns,Whale_Tiger_Daily_Returns,Whale_Berekshire_Daily_Returns,Algo1_Daily_Returns,Algo2_Daily_Returns
Date,,,,,,
2015-03-03,-0.001266,-0.004981,-0.000496,-0.006569,-0.001942,-0.000949
2015-03-04,0.002230,0.003241,-0.002534,0.004213,-0.008589,0.002416
2015-03-05,0.004016,0.004076,0.002355,0.006726,-0.000955,0.004323
2015-03-06,-0.007905,-0.003574,-0.008481,-0.013098,-0.004957,-0.011460
2015-03-09,0.000582,0.004225,0.005843,-0.001652,-0.005447,0.001303
...,...,...,...,...,...,...
2019-04-25,-0.000285,-0.001291,-0.005153,0.004848,0.000682,-0.007247
2019-04-26,0.008149,0.009162,0.012355,0.010434,0.002981,0.005256
2019-04-29,0.001254,0.002719,0.006251,0.005223,0.005208,0.002829
2019-04-30,-0.001295,-0.002211,-0.000259,-0.003702,-0.002944,-0.001570
2019-05-01,-0.005847,-0.001341,-0.007936,-0.007833,0.000094,-0.007358

In [46]:
# Use the `concat` function to combine the two DataFrames by matching indexes (or in this case `Month`)
merged_analysis_df = pd.concat([merged_analysis_df_tmp, df_sr ], axis="columns", join="inner")

In [47]:
merged_analysis_df.head()

Empty DataFrame
Columns: [Whale_Soros_Fund_Daily_Returns, Whale_Paulson_Daily_Returns, Whale_Tiger_Daily_Returns, Whale_Berekshire_Daily_Returns, Algo1_Daily_Returns, Algo2_Daily_Returns, S&P_TSX_60_Close, S&P_TSX_60_Returns]
Index: []

# Join Whale Returns, Algorithmic Returns, and the S&P TSX 60 Returns into a single DataFrame with columns for each portfolio's returns.
pd.merge(df_wr, df_ar, left_index=True, right_index=True)

---

# Conduct Quantitative Analysis

In this section, you will calculate and visualize performance and risk metrics for the portfolios.

## Performance Anlysis

#### Calculate and Plot the daily returns.

In [48]:
# Plot daily returns of all portfolios
df.plot(x ='Unemployment_Rate', y='Stock_Index_Price', kind = 'scatter')

NameError: name 'df' is not defined

#### Calculate and Plot cumulative returns.

In [ ]:
# Calculate cumulative returns of all portfolios

# Plot cumulative returns

---

## Risk Analysis

Determine the _risk_ of each portfolio:

1. Create a box plot for each portfolio. 
2. Calculate the standard deviation for all portfolios.
4. Determine which portfolios are riskier than the S&P TSX 60.
5. Calculate the Annualized Standard Deviation.

### Create a box plot for each portfolio

In [ ]:
# Box plot to visually show risk

### Calculate Standard Deviations

In [ ]:
# Calculate the daily standard deviations of all portfolios

### Determine which portfolios are riskier than the S&P TSX 60

In [ ]:
# Calculate  the daily standard deviation of S&P TSX 60

# Determine which portfolios are riskier than the S&P TSX 60

### Calculate the Annualized Standard Deviation

In [ ]:
# Calculate the annualized standard deviation (252 trading days)

---

## Rolling Statistics

Risk changes over time. Analyze the rolling statistics for Risk and Beta. 

1. Calculate and plot the rolling standard deviation for the S&P TSX 60 using a 21-day window.
2. Calculate the correlation between each stock to determine which portfolios may mimick the S&P TSX 60.
3. Choose one portfolio, then calculate and plot the 60-day rolling beta for it and the S&P TSX 60.

### Calculate and plot rolling `std` for all portfolios with 21-day window

In [ ]:
# Calculate the rolling standard deviation for all portfolios using a 21-day window

# Plot the rolling standard deviation

### Calculate and plot the correlation

In [ ]:
# Calculate the correlation

# Display de correlation matrix

### Calculate and Plot Beta for a chosen portfolio and the S&P 60 TSX

In [ ]:
# Calculate covariance of a single portfolio

# Calculate variance of S&P TSX

# Computing beta

# Plot beta trend

## Rolling Statistics Challenge: Exponentially Weighted Average 

An alternative way to calculate a rolling window is to take the exponentially weighted moving average. This is like a moving window average, but it assigns greater importance to more recent observations. Try calculating the [`ewm`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html) with a 21-day half-life.

In [ ]:
# Use `ewm` to calculate the rolling window

---

# Sharpe Ratios
In reality, investment managers and thier institutional investors look at the ratio of return-to-risk, and not just returns alone. After all, if you could invest in one of two portfolios, and each offered the same 10% return, yet one offered lower risk, you'd take that one, right?

### Using the daily returns, calculate and visualize the Sharpe ratios using a bar plot

In [ ]:
# Annualized Sharpe Ratios

In [ ]:
# Visualize the sharpe ratios as a bar plot

### Determine whether the algorithmic strategies outperform both the market (S&P TSX 60) and the whales portfolios.

Write your answer here!

---

# Create Custom Portfolio

In this section, you will build your own portfolio of stocks, calculate the returns, and compare the results to the Whale Portfolios and the S&P TSX 60. 

1. Choose 3-5 custom stocks with at last 1 year's worth of historic prices and create a DataFrame of the closing prices and dates for each stock.
2. Calculate the weighted returns for the portfolio assuming an equal number of shares for each stock.
3. Join your portfolio returns to the DataFrame that contains all of the portfolio returns.
4. Re-run the performance and risk analysis with your portfolio to see how it compares to the others.
5. Include correlation analysis to determine which stocks (if any) are correlated.

## Choose 3-5 custom stocks with at last 1 year's worth of historic prices and create a DataFrame of the closing prices and dates for each stock.

For this demo solution, we fetch data from three companies listes in the S&P TSX 60 index.

* `SHOP` - [Shopify Inc](https://en.wikipedia.org/wiki/Shopify)

* `OTEX` - [Open Text Corporation](https://en.wikipedia.org/wiki/OpenText)

* `L` - [Loblaw Companies Limited](https://en.wikipedia.org/wiki/Loblaw_Companies)

In [ ]:
# Reading data from 1st stock

In [ ]:
# Reading data from 2nd stock

In [ ]:
# Reading data from 3rd stock

In [ ]:
# Combine all stocks in a single DataFrame

In [ ]:
# Reset Date index

In [ ]:
# Reorganize portfolio data by having a column per symbol

In [ ]:
# Calculate daily returns

# Drop NAs

# Display sample data

## Calculate the weighted returns for the portfolio assuming an equal number of shares for each stock

In [ ]:
# Set weights
weights = [1/3, 1/3, 1/3]

# Calculate portfolio return

# Display sample data

## Join your portfolio returns to the DataFrame that contains all of the portfolio returns

In [ ]:
# Join your returns DataFrame to the original returns DataFrame

In [ ]:
# Only compare dates where return data exists for all the stocks (drop NaNs)

## Re-run the risk analysis with your portfolio to see how it compares to the others

### Calculate the Annualized Standard Deviation

In [ ]:
# Calculate the annualized `std`

### Calculate and plot rolling `std` with 21-day window

In [ ]:
# Calculate rolling standard deviation

# Plot rolling standard deviation

### Calculate and plot the correlation

In [ ]:
# Calculate and plot the correlation

### Calculate and Plot the 60-day Rolling Beta for Your Portfolio compared to the S&P 60 TSX

In [ ]:
# Calculate and plot Beta

### Using the daily returns, calculate and visualize the Sharpe ratios using a bar plot

In [ ]:
# Calculate Annualzied Sharpe Ratios

In [ ]:
# Visualize the sharpe ratios as a bar plot

### How does your portfolio do?

Write your answer here!

### References

Shift function in pandas - 
https://stackoverflow.com/questions/20000726/calculate-daily-returns-with-pandas-dataframe

Conditional line color -  
https://stackoverflow.com/questions/31590184/plot-multicolored-line-based-on-conditional-in-python

https://stackoverflow.com/questions/40803570/python-matplotlib-scatter-plot-specify-color-points-depending-on-conditions/40804861

https://stackoverflow.com/questions/42453649/conditional-color-with-matplotlib-scatter

https://stackoverflow.com/questions/3832809/how-to-change-the-color-of-a-single-bar-if-condition-is-true-matplotlib

https://stackoverflow.com/questions/56779975/conditional-coloring-in-matplotlib-using-numpys-where

PEP 8 - Standards -